#tablespoons {
	margin-top: 2em;
}

#cups {
	margin-top: 2em;
}

#pints {
	margin-top: 2em;
}

#quarts {
	margin-top: 2em;
}

#gallons {
	margin-top: 2em;
}

#output1 {
	margin-top: 1em;
}

#output2 {
	margin-top: 1em;
}

#output3 {
	margin-top: 1em;
}

#output4 {
	margin-top: 1em;
}

#output5 {
	margin-top: 1em;
}